h1{
  font-family: algerian;
  color:blue;
  font-size=30;
}

 h2{
  font-family: verdana;
  color:blue;
   font-size=20;
}

p{
 font-family: verdana;
  font-size = 40;
}

body {
    background-color: #33ccff;
}

